# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build outputs
[Bb]in/
[Oo]bj/
.build/

# .NET
TestResults/
*.nupkg
*.snupkg
project.lock.json
artifacts/

# Rider / ReSharper
.idea/
_ReSharper*/
*.DotSettings.user

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log
logs/
